.board {
    width: 480px;
    height: 480px;

    margin: 30px auto;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 48px;
}

.light {
    background: #f0d9b5;
}

.dark {
    background: #b58863;
}

.selected {
    box-shadow: inset 0 0 0 5px #facc15;
}